<form (ngSubmit)="onSubmit()">
	<mat-form-field>
		<label for="name">Name</label>
		<input matInput [(ngModel)]="user.name" name="name" [formControl]="nameControl" required>
		<mat-error *ngIf="nameControl.invalid">{{getErrorNameMessage()}}</mat-error>

	</mat-form-field>

	<mat-form-field>
		<label for="email">Email</label>

		<input matInput type="email" [(ngModel)]="user.email" name="email" [formControl]="emailControl" required>
		<mat-error *ngIf="emailControl.invalid">{{getErrorEmailMessage()}}</mat-error>
	</mat-form-field>
	<mat-form-field>
		<label for="occupation">Occupation</label>

		<input matInput [(ngModel)]="user.occupation" name="occupation" [formControl]="occupationControl" required>
		<mat-error *ngIf="occupationControl.invalid">{{getErrorOccupationMessage()}}</mat-error>
	</mat-form-field>

	<mat-form-field>
		<label for="bio">Bio</label>

		<input matInput [(ngModel)]="user.bio" name="bio" [formControl]="bioControl" required>
		<mat-error *ngIf="bioControl.invalid">{{getErrorBioMessage()}}</mat-error>
	</mat-form-field>


	<div class="actions">
		<button mat-raised-button color="primary">{{SubmitButtonLabel}}</button>

		<button mat-raised-button (click)="onClickBack()">Go back to list</button>
	</div>

</form>