<form (onsubmit)="onSubmit()">


	<mat-form-field>
		<label for="name">Login</label>
		<input matInput [(ngModel)]="loginInfo.login" name="name" [formControl]="loginControl" required>
		<mat-error *ngIf="loginControl.invalid">{{getErrorNameMessage()}}</mat-error>

	</mat-form-field>

	<mat-form-field>
		<label for="password">Password</label>
		<input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="loginInfo.password" name="password" [formControl]="passwordControl" required>
		<mat-error *ngIf="passwordControl.invalid">{{getErrorPasswordMessage()}}</mat-error>
		<mat-icon class="hover-pointer" matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
	</mat-form-field>


	<div>
		<button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Login</button>
		<button mat-raised-button (click)="onClickBack($event)">Go back to list</button>
	</div>

</form>