<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h1 style="margin: auto;">UserList</h1>
  <div class="logger-btn">
    <button mat-raised-button color="primary" (click)="goLogin()" *ngIf="!isConnected">Login <mat-icon>login</mat-icon></button>
    <button mat-raised-button color="warn" (click)="disconnected()" *ngIf="isConnected">Logout <mat-icon>logout</mat-icon></button>
  </div>
</div>
<router-outlet></router-outlet>