<div *ngIf="user == null;else user_exist">
	404 : User not found
</div>


<ng-template #user_exist>
	<mat-card>
		<mat-card-header>
			<mat-card-title>User Detail</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p><strong>Name : </strong>{{user!.name}}</p>
			<p><strong>Email : </strong>{{user!.email}}</p>
			<p><strong>Occupation : </strong>{{user!.occupation}}</p>
			<p><strong>Bio : </strong>{{user!.bio}}</p>
		</mat-card-content>
		<mat-card-actions>
			<button type="button" mat-raised-button color="primary" (click)="goBack()" clickable>Back To Users List</button>
		</mat-card-actions>
	</mat-card>
</ng-template>