<div id="div-list-user">
	<div class="actions">
		<mat-form-field>
			<input matInput (keyup)="applyFilter($event)" placeholder="Filter on any filed">
		</mat-form-field>

		<button mat-raised-button color="primary" (click)="onClickAdd()">Add <mat-icon>add</mat-icon></button>
	</div>
	<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort #empTbSort="matSort">
		<ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">

			<ng-container *ngIf="column == 'detail'">
				<mat-header-cell *matHeaderCellDef>{{ column }}</mat-header-cell>
				<mat-cell *matCellDef="let emp">
					<button mat-raised-button color="primary" (click)="onClickDetail(emp)">detail <mat-icon>read_more</mat-icon></button>
				</mat-cell>
			</ng-container>
			<ng-container *ngIf="column == 'update'">
				<mat-header-cell *matHeaderCellDef>{{ column }}</mat-header-cell>
				<mat-cell *matCellDef="let emp">
					<button mat-raised-button color="primary" (click)="onClickUpdate(emp)" [disabled]="!featureUpdateAndDeleteEnabled">update <mat-icon>edit</mat-icon></button>
				</mat-cell>
			</ng-container>
			<ng-container *ngIf="column == 'delete'">
				<mat-header-cell *matHeaderCellDef>{{ column }}</mat-header-cell>
				<mat-cell *matCellDef="let emp">
					<button mat-raised-button color="warn" (click)="onClickDelete(emp)" [disabled]="!featureUpdateAndDeleteEnabled">delete <mat-icon>delete</mat-icon></button>
				</mat-cell>
			</ng-container>


			<mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</mat-header-cell>
			<!--pas pris en compte si déjà un mat-cell donc fonctionne comme un else-->
			<ng-container><mat-cell *matCellDef="let emp">{{ emp[column] }}</mat-cell></ng-container>



		</ng-container>



		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let emprow; columns: displayedColumns"></mat-row>
	</mat-table>

	<mat-paginator #matPaginator="matPaginator" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
	</mat-paginator>
</div>