#div-list-user {
  display: flex;
  flex-direction: column;
}

.clickable:hover {
  cursor: pointer;
}

mat-row:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

mat-row:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.068);
}

.actions {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: baseline;
  gap: 2rem;

  mat-form-field {
    flex-grow: 2;
  }
}
