@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
}

.hover-pointer:hover {
  cursor: pointer;
}
